{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{%- block description -%}

{%- endblock -%}

{% block body %}
    <a href="{{ path('login_google', {callback : googleCallback}) }}">Google</a>
    <form
            {{ stimulus_controller('@web-auth/webauthn-stimulus',
                {
                    requestResultUrl: path('webauthn.controller.request.response.login'),
                    requestOptionsUrl: path('webauthn.controller.request.request.login'),
                    requestSuccessRedirectUri: webauthnCallback
                }
            ) }}
    >
        <button
                type="submit"
                {{ stimulus_action('@web-auth/webauthn-stimulus', 'signin') }}
        >
            Webauth Key
        </button>
    </form>
{% endblock %}
