{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{%- block description -%}

{%- endblock -%}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}

{% endblock %}

{% block body %}
    <form
            {{ stimulus_controller('@web-auth/webauthn-stimulus',
                {
                    requestResultUrl: path('webauthn.controller.security.main.request.result'),
                    requestOptionsUrl: path('webauthn.controller.security.main.request.options')
                }
            ) }}
    >
        <label for="username">Username</label>
        <input name="username" type="text" id="username" placeholder="Type your username here"
               autocomplete="username webauthn">

        <button
                type="submit"
                {{ stimulus_action('@web-auth/webauthn-stimulus', 'signin') }}
        >
            Sign in
        </button>
    </form>
{% endblock %}
